h1{
    font: size 60px;
    text-align:center;
    margin:0;
    padding: 20px;
    color:darkmagenta;
    text-shadow:3px 3px 1px rgb(248, 36, 213);

}
canvas{
    display: block;
    margin: 0 auto;
}